body {
    background-color: #c07d39;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin: 10px;
}

section {
    background-color: #65282e;
}

ul {
    padding: 15px;
    margin: 20px;
    color: #370c0c74;
}

a {
    color:#18847b ;

}

a:hover {
    color: #EAE190;
    
}

h1 {
    color:#65282e;
}

h3 {
    color: #210609;
}