body {
    margin: 0 auto;
}

/* navigation */

#nav {
    background-color: #FFE5B4;
    padding: 10px 10px;
    font-size: 15px;
    position: sticky;
}

#navRight {
    float: right;
}

#nav a:hover {
    font-weight: bold;
    color: cornflowerblue;
}

/* recommendations */

#rec {
    background-color: gray;
    float: right;
    overflow: auto;
}

#rec img {
    border-radius: 50%;
}



.recProfile {
    
}








/* #recs img {
    border-radius: 50%;
} */







/* Mobile Design */

/* @media screen and (max-width: 800px) {
    .basicnav div {
    
    }
    
    header {
        background-color: #444;
        color: #F7604F;
        height: 10vh;
    }

    main {
        background-color: #FFDBC4;
        color: #734A45;
    }
} */